/**
 * Theme Name: Child Theme
 * Description: Simple WordPress child theme for development purposes
 * Author: Dzikri Aziz
 * Author URI: http://kucrut.org/
 * Version: 0.1
 * License: GPLv2
 * Template: twentythirteen
 */
